name: Expandtesting CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4
      # Set up JDK
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      # Install dependencies (without running tests yet)
      - name: Install dependencies
        run: mvn install -DskipTests
     # Run tests
      - name: Run UI/API tests
        run: mvn test
     # Generate test artifact
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
         name: testrun-artifacts
         path: |
          target/surefire-reports
          target/screenshots
         retention-days: 7 
